@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "Pokemon";
  src: url(/public/assets/fonts/pokemon/Pokemon\ Solid.ttf) format(truetype);
}

* {
  margin: 0;
  padding: 0;
  font-family: Pokemon, Roboto;
}

nav {
  position: fixed;
  width: 100%;
  padding: 1rem;
  background-image: url("https://i.imgur.com/aPrDP7v.jpg");
  display: flex;
  justify-content: start;
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 150px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

nav img {
  width: 18%;
  padding-left: 6rem;
}

main {
  padding: 14rem 0rem 0rem 0rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  background-color: rgb(99, 189, 99);
}

main a {
  text-decoration: none;
}

div#card-container {
  margin-top: 3rem;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 300px;
  height: 400px;
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px 5px #00000015;
  transition: all 0.2s ease-in-out;
}

div#card-container:hover {
  transform: scale(1.1);
}

div.header-card {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
